* {
  box-sizing: border-box;
}
body {
  padding: 25px;
  background-color: rgb(63, 63, 63);
  color: white;
  /* background-image: url("./assets/galaxy.jpg");
  background-repeat: no-repeat;
  height: 100svh;
  width: 100svw; */
}

.cookieInfo > img {
  width: 300px;
  height: 300px;
  background-repeat: none;
}

button {
  background-color: none;
  border: none;
}

.timerBtn {
  background-color: white;
}
.timerBtn:hover > .cookieMe {
  width: 120px;
  height: 120px;
}

.main {
  display: flex;
  gap: 20px;
}
.cookieInfo {
  text-align: center;
}

.cookieInfo h1 {
  font-size: 3rem;
  background-image: "./assets/logo.jpg";
  background: no-repeat;
}

.shoppingCart {
  width: 80%;
  margin: 50px;
}

.shoppingCart > h2 {
  text-align: left;
}
.shoppingCart > p {
  display: grid;
}
.btnBuy {
  background-color: rgb(10, 104, 104);
  border: 1px solid white;
}
.btnBuy:hover {
  background-color: purple;
  color: white;
  /* border: 1px solid #white; */
}
.boxes {
  border: 2px black;
  width: 200px;
  display: flex;
}
.cartStuffs {
  display: grid;
  grid-template-columns: 100% 100% 100% 100%;
  grid-template-rows: auto;
}
.cartStuffs > p {
  border: 1px solid white;
  padding: 10px;
  margin: 0px;
}

.cookieBtn {
  height: 205px;
  width: 205px;
  background: no-repeat;
  background-position: -140px -580px;
  > img {
    margin: 38px;
    width: 130px;
    height: 130px;
    border-radius: 130px;
    animation: rotate-animation 10s infinite linear;
  }
}
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dark {
  background-color: #222222;
  color: #fefdf4;
}

.theme {
  background-color: #fefdf4;
  color: #222222;
}
.light {
  background-color: #629ef8;
  color: #222222;
}
